@charset "utf-8";
/* CSS Document */
#d1{background-color: #EECC4499;
}
#d2{background-color: #44EEAA99;
display: none;}
#d3{background-color: azure; display: none;}
#d4{background-color: bisque; display: none;}
#d5{background-color:cadetblue; display: none;}
#d6{background-color:chartreuse; display:none;}
#d7{background-color:khaki; display: none;}
#d8{background-color:gold;display: none;}
#d9{background-color:yellowgreen;display: none;}
#d10{background-color:silver;display: none;}
#d11{background-color:hotpink;display: none;}
	

.b1{background-color:#EECC4499; }
.b2{background-color:#44EEAA99; }
.b3{background-color:azure; }
.b4{background-color:bisque; }
.b5{background-color:cadetblue; }
.b6{background-color:chartreuse; }
.b7{background-color:khaki; }
.b8{background-color:gold; }
.b9{background-color:yellowgreen; }
.b10{background-color:silver; }
.b11{background-color:hotpink; }
.titre{text-align: center;
	font-size: 15pt;
color: red}
.titrefn{
	font-size: 15pt;
color: red}